@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #facc4e;
    font-family: 'Poppins' , sans-serif;
}

.calculator{
    position: relative;
    display: grid;
}

.calculator .value{
    grid-column: span 4;
    height: 100px;
    text-align: right;
    border: none;
    outline: none;
    padding: 10px;
    font-size: 18px;
}

.calculator span{
    display: grid;
    width: 60px;
    height: 60px;
    color: white;
    background: black;
    place-items: center;
    border: 1px solid black; 
}

.calculator span:active{
    background: #e1e3e2;
    color: black;
}

.calculator span.clear{
    border: 1px solid orange;
    grid-column: span 2;
    width: 120px;
    background: orange;
}

.calculator span.plus{
    grid-row: span 2;
    height: 120px;
}

.calculator span.equal{
    background: crimson;
    border: 1px solid crimson;
}